.video-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

video {
    max-width: 100%;
    max-height: 300px; /* Ajustez la hauteur si nécessaire */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
